#Junk folders
Library/*
Temp/*
Assets/Tests/*
Assets/Tests*
Assets/_Testing*
JoystickMappings/*
Build/*
Assets/UnityVS*
obj/*
.vs/*

#Junk files
Assets/_Testing.meta
Assets/Tests.meta
Assembly-CSharp*
Assembly-UnityScript*
Assembly-Boo*
*.sln
*.suo
*.csproj
*.userprefs
*.usertasks
*.orig.meta
*.orig
*.pfx
*.pfx.meta

